<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://staffaction-actions-fn.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/0b097f12-7304-4359-9137-01b8c3e38004/resourceGroups/staffaction-msa/providers/Microsoft.Web/sites/staffaction-actions-fn</ResourceId>
    <UserName>$staffaction-actions-fn</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://staffaction-actions-fn.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>